In [1]:
type(3)

int

In [2]:
type(3.25)

float

In [3]:
type("Hello World")

str

In [4]:
type(3)
type(3.25)
type("Hello World") #the output is only the last one must add print(type()) for all of the types to be shown

str

In [5]:
print(type(3))
print(type(3.25))
print(type("Hello World"))

<class 'int'>
<class 'float'>
<class 'str'>

In [6]:
# use both single and double quotes in the same string by adding a backslash in front
# basically saying don't end the string when I insert this single or double quote 
print('In today\'s lecture we learned that "classes" and "types" are essentially synonymous.')
print("In today's lecture we learned that \"classes\" and \"types\" are essentially synonymous.")

In today's lecture we learned that "classes" and "types" are essentially synonymous.
In today's lecture we learned that "classes" and "types" are essentially synonymous.

In [7]:
type(print)

builtin_function_or_method

In [8]:
import math 
print(type(math))
print(type(math.sqrt))
print(type(math.sqrt(3)))
print(type(math.sqrt(4)))

<class 'module'>
<class 'builtin_function_or_method'>
<class 'float'>
<class 'float'>

In [9]:
x=3
y=3.25 
#read from RIGHT to LEFT
#assigning the numbers to the variables EX. x <-- 3
print(x)
print(y)

3
3.25

In [ ]:
z = 13
print(z)
z=z+1
print(z)

# equal sign does not mean "equal to"
# rather it means putting it into the "memory box z"

13
14

### Question: A vinyl record costs $32.99. The sales tax in Fulton County is 8.9%, while the sales tax in DeKalb County is 8%. How much more would you pay if you purchased it in DeKalb county?

In [ ]:
record_price = 32.99
fulton_tax_rate=0.089
dekalb_tax_rate = 0.08 

#no need for parenthesis for multiplication bc in python it is always a priority
fulton_cost = record_price + record_price * fulton_tax_rate
fulton_cost = round(fulton_cost, 2)

dekalb_cost = record_price + record_price * dekalb_tax_rate
dekalb_cost = round(dekalb_cost, 2) 

price_difference = fulton_cost - dekalb_cost
price_difference = round(price_difference, 2) 
# if we didnt add this line above the answer (but everything else) would be 0.2999... this is because of some sort of binary rounding thing 
print(price_difference)

0.3

In [ ]:
0.3 - (0.1 + 0.1 + 0.1)
# decimal numbers are not perfect in python 
# this can basically just be interpreted as 0.

-5.551115123125783e-17

In [ ]:
first_name = "Yejee" 
last_name = "Park"
print(Last_name) # variables are case sensitive. This code would not work because of the capital L
print(firstname) # this is similar to above but misses the underscore, therefore, error would occur

Park

In [37]:
import pandas as pd 
car_feautres = pd.read_csv("data_lec4/features.csv")
print(type("car_features"))

<class 'str'>

In [42]:
# using ... means the code would occur without error, but means you don't know 

favorite_movies = ["Rear Window", "Inception", "Dead Poet Society", "Baby Window", "Evil Dead (2013 remake)"]

print(type(favorite_movies))
print(len(favorite_movies)) # 5 elements for the list 

print(favorite_movies)
print(favorite_movies[0])

<class 'list'>
5
['Rear Window', 'Inception', 'Dead Poet Society', 'Baby Window', 'Evil Dead (2013 remake)']
Rear Window

In [ ]:
alec_ind = 2
print(favorite_movies[alec_ind])

alec_fav_movie = favorite_movies[alec_ind]
print(alec_fav_movie)

Dead Poet Society
Dead Poet Society

In [ ]:

favorite_movies[4] = "The Wailing" # this can be used to "overried" the previous entry #4
print(favorite_movies)

['Rear Window', 'Inception', 'Dead Poet Society', 'Baby Window', 'The Wailing']
['Rear Window', 'Inception', 'Dead Poet Society', 'Baby Window', 'The Wailing']

In [43]:
q = 12.1
my_list = [2, 0.1, -2, "DATASCI 151", 3.3, "Statistical Computing II", q, 'q']
print(my_list)

[2, 0.1, -2, 'DATASCI 151', 3.3, 'Statistical Computing II', 12.1, 'q']

In [ ]:
peters_favorite_movies = ["Evil Dead (2013 remake)", "The Wailing", "MUholland Drive", "Pulp Fiction", "2001: A Space Odyssey"]
favorite_movies[4] = peters_favorite_movies # 4th element replaced by the list above

print(len(favorite_movies))
print(favorite_movies)

5
['Rear Window', 'Inception', 'Dead Poet Society', 'Baby Window', ['Evil Dead (2013 remake)', 'The Wailing', 'MUholland Drive', 'Pulp Fiction', '2001: A Space Odyssey']]

In [47]:
print(favorite_movies[4])

['Evil Dead (2013 remake)', 'The Wailing', 'MUholland Drive', 'Pulp Fiction', '2001: A Space Odyssey']

In [ ]:
print(favorite_movies[4][2]) 
# in the fourth element the second entry is Muholland Drive

MUholland Drive