# <span style="color:darkblue" fontsize = 500> Lecture 2: Introduction to Jupyter Notebooks </span>

<font size="5">

The basic structure for running Python for data projects
<img src="figures/project_flow.png" alt="drawing" width="650"/>
- Python is a general purpose language
- Researchers and practitioners add new functionalities all the time
- New features are included as libraries on top of the "basic" installation

***

# <span style="color:darkblue"> STEP 0: Preliminaries </span>

<font size="5"> 

- A Virtual Environment is an isolated **directory/workspace** (folder in your computer) <br>
that contains a specific **collection of packages**

- A package is a folder containing a set of Python scripts or <br>
modules which allow you to accomplish a defined task <br> 
(visualization, analysis, mathematical operations, etc.)

<font size = "5">

To manage packages open "Anaconda Navigator" on your <br>
computer and go to the "Environment" Tab

<img src="figures/anaconda_navigator_installed.png" alt="drawing" width="650"/>

<font size = "5">

In the future, as your data analysis needs expand, <br>
you way want to click on the "Not installed" packages <br>
to download cool new packages!

<img src="figures/anaconda_navigator_notinstalled.png" alt="drawing" width="650"/>

<font size = "5">

Note: Anaconda does not list the default packages in <br>
Python's **standard** library.  You have access to these too!<br>
See [The Python Standard Library](https://docs.python.org/3/library/index.html) to see what's included.

# <span style="color:darkblue"> STEP 1: Setup Working Environment </span>

<font size="5"> 

(a) Double Check that Python is linked to VS Code

<img src="figures/python_kernel.png" alt="drawing" width="650"/>

- If not already linked, it will say "Select Kernel"
- Click button, choose "Python Environments", then select <br>
the version of Python that contains the word "anaconda"

<font size="5"> 

(b) Try some basic Python commands
- use "print" to display a message and some basic calculations

In [ ]:
print("Hello World!")

### Let's try and compute $\log_2(8)$ (which equals 3). 
### We will get our first error message!

In [ ]:
print(log2(8))

<font size = "5">

(c) Import Modules (a.k.a. libraries):

- Jupyter notebooks launches with very basic options
- The "import" command adds modules to the working enviroment. 
- Once imported, use "." to run subcommands contained in the module

In [ ]:
import math
print(math.log2(8))

In [1]:
import math 
print(math.log2(8))

3.0

### Let's import the "statistics" module

In [ ]:
import statistics

print(statistics.mean([1, 7, 3, 5, 9, 1, 12]))
print(statistics.median([1, 7, 3, 5, 9, 1, 12]))
print(statistics.geometric_mean([1, 7, 3, 5, 9, 1, 12]))

In [3]:
import statistics 
print(statistics.mean([1,7,3,5,9,1,12]))
print(statistics.median([1,7,3,5,9,1,12]))
print(statistics.geometric_mean([1,7,3,5,9,1,12]))

5.428571428571429
5
3.795163026589841

<font size = "5">

(d) Import Packages with nicknames:

- Typing "statistics" every single time you use that package can be a pain
- To create nice plots, we will be using `matplotlib.pyplot` - long name!
- Luckily, we can give the libraries a nickname with "as"
- We will also use `pandas` - library for working with datasets

In [ ]:
# This cell is a code cell. But adding "#" at the start of a line makes it a comment.
# Comments are ignored by Python, but are useful for humans to understand the code.

# Notes about nicknames:
# - Import "statistics", but give it the nickname "stats"
# - "matplotlib.pyplot" is a long name. Let's call it "plt"
# - Similarly, let's import "pandas" as "pd"
# - To avoid errors, be consistent with your nicknames

import statistics as stats
import matplotlib.pyplot as plt
import pandas as pd


print(stats.mean([1, 7, 3, 5, 9, 1, 12]))

In [ ]:
import statistics as stats
import matplotlib.pyplot as plt
import pandas as pd

print(stats.mean([1,7,3,5,9,1,12]))

# hello 
#my own notes

Matplotlib is building the font cache; this may take a moment.

5.428571428571429

<font size="5"> 

(e) Open datasets

Run the command "read_csv" from the library <br>
"pandas" (nicknamed "pd").

In [ ]:

# The subcommand "read_csv()" opens the file in parenthesis.
# We use the "=" symbol to store the dataset in the working environment under the name "carfeatures"

carfeatures = pd.read_csv("data/features.csv")

In [5]:
carfeatures = pd.read_csv("data/features.csv")

<font size="5"> 

You can open the datasets in the current environment
- Click on the "Jupyter Variables" button in the top bar to open a panel

<img src="figures/topbar.png" alt="drawing" width="650"/>

- Click on the icon to the left of "carfeatures" in the "Jupyter: Variables" tab

<img src="figures/jupyter_var.png" alt="drawing" width="700"/>

DataWrangler will open a window showing the data
- Each row is an observation (a car)
- Each column is the value of a variable (a feature of that car)

***


# <span style="color:darkblue"> STEP 2: Run Analyses </span>

<font size="5"> 

Output data for all the columns

In [ ]:
# Entering the name of a dataframe produces an output with some rows

display(carfeatures)

In [6]:
display(carfeatures)

      mpg  cylinders  displacement horsepower  weight  acceleration vehicle id
0    18.0          8           307        130    3504          12.0  C-1689780
1    15.0          8           350        165    3693          11.5  B-1689791
2    18.0          8           318        150    3436          11.0  P-1689802
3    16.0          8           304        150    3433          12.0  A-1689813
4    17.0          8           302        140    3449          10.5  F-1689824
..    ...        ...           ...        ...     ...           ...        ...
393  27.0          4           140         86    2790          15.6  F-1694103
394  44.0          4            97         52    2130          24.6  V-1694114
395  32.0          4           135         84    2295          11.6  D-1694125
396  28.0          4           120         79    2625          18.6  F-1694136
397  31.0          4           119         82    2720          19.4  C-1694147

[398 rows x 7 columns]

<font size="5"> 

Output data for a single column 'cylinders'

In [ ]:
# We use square brackets [...] to subset information from data 
# Text/strings have to be written in quotation marks
# This command extracts the column 'cylinders'

display(carfeatures['cylinders'])

# double quotes would also have been fine
# display(carfeatures["cylinders"])

In [7]:
display(carfeatures["cylinders"])

0      8
1      8
2      8
3      8
4      8
      ..
393    4
394    4
395    4
396    4
397    4
Name: cylinders, Length: 398, dtype: int64

<font size="5"> 

Example: Compute a frequency table (a type of "cross-tabulation")

In [ ]:
# crosstab counts how many rows fall into categories
# "index" is the category
# "columns" is a custom title

table = pd.crosstab(index = carfeatures['cylinders'],columns = "count")

display(table)

In [8]:
table = pd.crosstab(index = carfeatures["cylinders"],columns = "count") 
display(table)

col_0      count
cylinders
3              4
4            204
5              3
6             84
8            103

### The "help" keyword can be used to learn more about a command

In [ ]:
help (pd.crosstab)

In [9]:
help (pd.crosstab)

Help on function crosstab in module pandas.core.reshape.pivot:

crosstab(
    index,
    columns,
    values=None,
    rownames=None,
    colnames=None,
    aggfunc=None,
    margins: 'bool' = False,
    margins_name: 'Hashable' = 'All',
    dropna: 'bool' = True,
    normalize: "bool | Literal[0, 1, 'all', 'index', 'columns']" = False
) -> 'DataFrame'
    Compute a simple cross tabulation of two (or more) factors.

    By default, computes a frequency table of the factors unless an
    array of values and an aggregation function are passed.

    Parameters
    ----------
    index : array-like, Series, or list of arrays/Series
        Values to group by in the rows.
    columns : array-like, Series, or list of arrays/Series
        Values to group by in the columns.
    values : array-like, optional
        Array of values to aggregate according to the factors.
        Requires `aggfunc` be specified.
    rownames : sequence, default None
        If passed, must match number of row arrays passed.
    colnames : sequence, default None
        If passed, must match number of column arrays passed.
    aggfunc : function, optional
        If specified, requires `values` be specified as well.
    margins : bool, default False
        Add row/column margins (subtotals).
    margins_name : str, default 'All'
        Name of the row/column that will contain the totals
        when margins is True.
    dropna : bool, default True
        Do not include columns whose entries are all NaN.
    normalize : bool, {'all', 'index', 'columns'}, or {0,1}, default False
        Normalize by dividing all values by the sum of values.

        - If passed 'all' or `True`, will normalize over all values.
        - If passed 'index' will normalize over each row.
        - If passed 'columns' will normalize over each column.
        - If margins is `True`, will also normalize margin values.

    Returns
    -------
    DataFrame
        Cross tabulation of the data.

    See Also
    --------
    DataFrame.pivot : Reshape data based on column values.
    pivot_table : Create a pivot table as a DataFrame.

    Notes
    -----
    Any Series passed will have their name attributes used unless row or column
    names for the cross-tabulation are specified.

    Any input passed containing Categorical data will have **all** of its
    categories included in the cross-tabulation, even if the actual data does
    not contain any instances of a particular category.

    In the event that there aren't overlapping indexes an empty DataFrame will
    be returned.

    Reference :ref:`the user guide <reshaping.crosstabulations>` for more examples.

    Examples
    --------
    >>> a = np.array(["foo", "foo", "foo", "foo", "bar", "bar",
    ...               "bar", "bar", "foo", "foo", "foo"], dtype=object)
    >>> b = np.array(["one", "one", "one", "two", "one", "one",
    ...               "one", "two", "two", "two", "one"], dtype=object)
    >>> c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
    ...               "shiny", "dull", "shiny", "shiny", "shiny"],
    ...              dtype=object)
    >>> pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c'])
    b   one        two
    c   dull shiny dull shiny
    a
    bar    1     2    1     0
    foo    2     2    1     2

    Here 'c' and 'f' are not represented in the data and will not be
    shown in the output because dropna is True by default. Set
    dropna=False to preserve categories with no data.

    >>> foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])
    >>> bar = pd.Categorical(['d', 'e'], categories=['d', 'e', 'f'])
    >>> pd.crosstab(foo, bar)
    col_0  d  e
    row_0
    a      1  0
    b      0  1
    >>> pd.crosstab(foo, bar, dropna=False)
    col_0  d  e  f
    row_0
    a      1  0  0
    b      0  1  0
    c      0  0  0

In [ ]:
# It looks like the first two arguments are "index" and "columns", which are required. The rest are optional.
# So we can also write the command like this:

table = pd.crosstab(carfeatures['cylinders'], "count")

display(table)

In [11]:
table = pd.crosstab(carfeatures["cylinders"],"count")
display(table)

col_0      count
cylinders
3              4
4            204
5              3
6             84
8            103

### We can also cross-tabulate between two columns of carfeatures:

In [ ]:
table_2 = pd.crosstab(index = carfeatures['cylinders'],columns = carfeatures['mpg'])
display(table_2)

mpg,9.0,10.0,11.0,12.0,13.0,14.0,14.5,15.0,15.5,16.0,...,39.4,40.8,40.9,41.5,43.1,43.4,44.0,44.3,44.6,46.6
cylinders,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,4,0,5,...,0,0,0,0,0,0,0,0,0,0
8,1,2,4,6,20,19,1,12,5,8,...,0,0,0,0,0,0,0,0,0,0

In [15]:
table_2 = pd.crosstab(index = carfeatures["cylinders"],columns = carfeatures ["mpg"])
display(table_2)

mpg,9.0,10.0,11.0,12.0,13.0,14.0,14.5,15.0,15.5,16.0,...,39.4,40.8,40.9,41.5,43.1,43.4,44.0,44.3,44.6,46.6
cylinders,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,4,0,5,...,0,0,0,0,0,0,0,0,0,0
8,1,2,4,6,20,19,1,12,5,8,...,0,0,0,0,0,0,0,0,0,0

<font size="5"> 

Example: Compute basic summary statistics for all variables

In [ ]:
# "describe" computes the count, mean, std, min, 25% quantile, 50%, 75%, max
# automatically excludes variables with text values
# otherwise includes all numeric variables

display(carfeatures.describe())

In [16]:
display(carfeatures.describe(mean))

NameError: name 'mean' is not defined

<font size="5"> 

For readability, you might want to round to two digits

In [ ]:
display(round(carfeatures.describe(), 2))

In [ ]:

help(carfeatures.describe)

<font size = "5">

**Q**: How should I change the line of code so that it prints out the 33% and 66% percentile, instead of 25% and 75%?

In [ ]:
# your code here

<font size="5"> 

Example: Display a scatter plot

In [ ]:
plt.scatter(x = carfeatures['weight'], y = carfeatures['mpg'])
plt.show()

<font size = "5">

**Q**: Is this a good plot?

In [ ]:
# Try another scatter plot with x = "acceleration"



# <span style="color:darkblue"> Pro Tips: How to be a great student for DATASCI 151?
 </span>

<font size="5"> 

- Ask clarifying questions, e.g.

    -  Can you explain what this command is doing? --> **I don't mind repeating an explanation!**
    -  What are the arguments of this function?
    -  What is the output?
    -  I get an error saying .... (be explicit), what could be the issue?

<font size="5"> 

- Remember that good coders ...

    -  build up their toolkit of commands over time
    -  understand that errors are normal the first time you run a command
    -  **learn to use online websites to interpret errors!!**, https://stackoverflow.com/questions/tagged/python
    -  search help pages to find proper syntax, e.g. https://www.w3schools.com/python/

<font size="5"> 

- Experiment

    -  If we do analyses for variable "A", try it for "B"
    -  Search online how to do something extra, e.g. change the color of a scatter plot
    -  Try running the syntax deliberately wrong: helps you get more familiar with error messages
    -  Think long term: Figuring out a puzzle today, means that you can use the code for the next time!

<font size="5"> 

- Come to office hours

    -  Best time for a one-on-one!
    -  Good place to ask about topics not covered in the lecture